<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h5>My flashcards</h5>
      </div>
    </div>
  </div>

  <!-- Tables
      ================================================== -->
  <div class="table-responsive col-lg-10">
    <table class="table table-bordered table-hover ">
      <thead>
      <tr align="center">
        <th style="width: 20%">Set Name</th>
        <th style="width: 10%">Cards</th>
        <th style="width: 20%">Base Language</th>
        <th style="width: 20%">Foreign Language</th>
        <th style="width: 20%">Created</th>
        <th style="width: 10%">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr align="center" *ngFor="let set of sets">
        <td>{{ set.name }}</td>
        <td>{{ set.nrOfCards }}</td>
        <td>{{ set.fromLanguage }}</td>
        <td>{{ set.toLanguage }}</td>
        <td>{{ set.createdOn  | date:"dd/MM/yyyy"}} </td>
        <td>share edit delete</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
