<div class="container">
  <div class="row">
    <!-- Menu
   ================================================== -->

    <ul class="list-group col-lg-3">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        My Sets
        <a [routerLink]="['/newset']">
          <button type="button" class="btn btn-secondary">New set</button>
        </a>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <form class="form-inline my-2 my-lg-0" >
          <input class="form-control" type="text" placeholder="Search a set..." name="search" [(ngModel)]="searchName">
          <button type="button" class="btn btn-secondary" (click)="searchByName()"><i class="fa fa-search"></i></button>
        </form>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h6>Filter </h6>
        <div class="form-group">
          <select class="custom-select" [(ngModel)]="from" name="fromLanguage" (ngModelChange)="fromFilterSelected()" >
            <option [ngValue]="undefined" selected> From</option>
            <option *ngFor="let lang of languages" [value]="lang.name"> {{lang.name}}  </option>
          </select>
        </div>

        <div class="form-group">
          <select class="custom-select" [(ngModel)]="to" name="fromLanguage" (ngModelChange)="toFilterSelected()">
            <option [ngValue]="undefined" selected> To</option>
            <option *ngFor="let lang of languages" [value]="lang.name"> {{lang.name}}  </option>
          </select>
        </div>

        <button class="btn btn-link" id="clearFilter" data-toggle="tooltip" data-placement="right" title="Clear filter" data-original-title="Tooltip on right" (click)="clearFilter()"><i class="fa fa-times"></i></button>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a [routerLink]="['/sharedsets']">View Shared Sets</a>
      </li>
    </ul>
    <!-- My flashcards Table
      ================================================== -->
    <div class="table-responsive col-lg-9">
      <table class="table table-bordered ">
        <thead>
        <tr align="center">
          <th>Set Name</th>
          <th>Cards</th>
          <th>Base Language</th>
          <th>Foreign Language</th>
          <th>Created</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" *ngFor="let set of sets">
          <td a [routerLink]="['/sets/' + set._id]" id="setName"> {{ set.name }}</td>
          <td>{{ set.nrOfCards }}</td>
          <td>{{ set.fromLanguage }}</td>
          <td>{{ set.toLanguage }}</td>
          <td>{{ set.createdOn  | date:"dd/MM/yyyy"}} </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm">Share</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="deleteSet(set._id)">Delete</button>
           </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
