<div class="container">
  <!-- Tables
      ================================================== -->
  <div class="table-responsive col-lg-10">
    <table class="table table-bordered table-hover ">
      <thead>
      <tr align="center">
        <th style="width: 20%">Set Name</th>
        <th style="width: 10%">Cards</th>
        <th style="width: 20%">Base Language</th>
        <th style="width: 20%">Foreign Language</th>
        <th style="width: 20%">Shared by</th>
        <th style="width: 10%">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr align="center">
        <td>weatherEng-Ro</td>
        <td >10</td>
        <td>eng</td>
        <td>ro</td>
        <td>March 26, 2018</td>
        <td>s e d</td>
      </tr>
      <tr align="center">
        <td>weatherEng-Ro</td>
        <td>10</td>
        <td>eng</td>
        <td>ro</td>
        <td>March 26, 2018</td>
        <td>s e d</td>
      </tr>
      <tr align="center">
        <td>weatherEng-Ro</td>
        <td>10</td>
        <td>eng</td>
        <td>ro</td>
        <td>March 26, 2018</td>
        <td>s e d</td>
      </tr>
      </tbody>
    </table>

  </div>

