.card {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.choosemode-header {
  padding: 25px;
}

.card-header {
  padding-left : 15px;
  padding-right: 15px;
}

.card-header > .row > h5 {
  color: #1c6b7a;
  padding-top: 10px;
  margin-right: 25px;
}


.choosemode-button {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#choosemode-card-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

#header-bottom {
  border-bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  margin: 65px;
}

#card-bothsides {
  margin-top:5px;
  margin-bottom:65px;
}

#card-bothsides > .row >.card-title {
  margin-top: 35px;
}


.btn-link {
  font-weight: 400;
  color: #1c6b7a;
}

.btn-link:hover {
  color: #8ea59d;
  text-decoration: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.sideBtn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #8ea59d;
}

#closeStudyBtn:hover {
  color: #fff;
  background-color: #E74C3C;
}

.badge{
  background-color: #fff;
  margin-top:5px;
}

